body{
    background-color: rgb(224, 10, 64);
}
.heading{
    width: 100%;
    font-size: 22px;
}
#camera{
    border: rgb(9, 79, 126) 2px dashed;
    width: 350px;
     height:300px ;  
}
.name_of_objects,#object_name,#object_acc{
    color: rgb(168, 226, 8);
}
p{
    color: lime;
}